.inputbox {
  padding: 7px 25px;
}

#otp {
  background-color: rgb(136, 120, 120);
  border-radius: 5px;
  margin-top: 50px;

}

.from {
  width: 50%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  border: 2px solid black;
}

.first {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.buttonarea {
  background-color: rgb(247, 6, 6);
  color: white;
}

/* nextpage */
.card{
margin-top: 15px;



}

.all{
width: 50%;
align-items: center;
justify-content: center;
display: flex;
flex-direction: column;
}
